<!DOCTYPE html> 
<html> 

<?php $this->display('lib/header.html');?>

<body> 

<div data-role="page">

	<div data-role="header" data-theme="d">
		<h1>Add Person</h1>
		<a href="#" data-icon="back" class="ui-btn-right" data-iconpos="notext" data-rel="back">Add</a>
	</div><!-- /header -->

	<div data-role="content" class="ui-body ui-body-d">
	  <form action="?r=login/doLogin" method="post">
    <fieldset>
    <div data-role="fieldcontain" class="ui-hide-label">
    	<label>Name:</label>
    	<input type="text" name="info[name]" placeholder="Name"/>
    </div>

    <div data-role="fieldcontain" class="ui-hide-label">
    	<label>Tel:</label>
    	<input type="tel" name="info[tel]" placeholder="Tel"/>
    </div>
    
    
    <label for="textarea">Note:</label>
  	<textarea name="info[note]"></textarea>
    <script type="text/javascript" charset="utf-8">
      $('textarea').textinput();	
    </script>
    <button type="submit" data-theme="d" name="submit" value="submit-value">Submit</button>

    </fieldset>
    
    </form>
	</div><!-- /content -->
	
</div><!-- /page -->

</body>
</html>
