<!DOCTYPE html> 
<html> 
<?php $this->display('lib/header.html');?>

<body> 

<div data-role="page">

	<div data-role="header" data-theme="d">
		<h1><?php echo $info['name']; ?></h1>
	</div><!-- /header -->

	<div data-role="content" class="ui-body ui-body-d">
	  <form action="?r=add/doSave&id=<?php echo $info['id']; ?>" method="post">
    <fieldset>
    <div data-role="fieldcontain" class="ui-hide-label">
    	<label>Name:</label>
    	<input type="text" name="info[name]" placeholder="Name" value="<?php echo $info['name']; ?>"/>
    </div>

    <div data-role="fieldcontain" class="ui-hide-label">
    	<label>Tel:</label>
    	<input type="tel" name="info[tel]" placeholder="Tel" value="<?php echo $info['tel']; ?>"/>
    </div>
    
    
    <label for="textarea">Note:</label>
  	<textarea name="info[note]"><?php echo $info['note']; ?></textarea>
    <script type="text/javascript" charset="utf-8">
      $('textarea').textinput();	
    </script>
    
    <fieldset class="ui-grid-a">
    	<div class="ui-block-a"><a href="?r=add/doDelete&id=<?php echo $info['id']; ?>" data-role="button" data-icon="delete" onclick="return confirm('Confirm?');">Delete</a></div>
    	<div class="ui-block-b"><button type="submit" data-theme="d">Save</button></div>	   
    </fieldset>


    </fieldset>
    
    </form>
	</div><!-- /content -->
	
</div><!-- /page -->

</body>
</html>
