<!DOCTYPE html> 
<html> 

<?php $this->display('lib/header.html');?>

<body> 

	<div data-role="page" class="type-interior">

  	<div data-role="header" data-theme="d" data-position="fixed">
  	  	<a href="?r=logout" data-icon="delete">Logout</a>
  	  	<h1>Search filter bar</h1>
		    <a href="?r=add" data-icon="plus" class="ui-btn-right" data-iconpos="notext" data-transition="slidedown">Add</a>
	  </div><!-- /header -->

	<div data-role="content">
		<div class="content-primary">	
			<ul data-role="listview" data-filter="true">
				<li><a href="index.html">Acura</a></li>
				<li><a href="index.html">Audi</a></li>
				<li><a href="index.html">BMW</a></li>

				<li><a href="index.html">Cadillac</a></li>
				<li><a href="index.html">Chrysler</a></li>
				<li><a href="index.html">Dodge</a></li>
				<li><a href="index.html">Ferrari</a></li>
				<li><a href="index.html">Ford</a></li>
				<li><a href="index.html">GMC</a></li>

				<li><a href="index.html">Honda</a></li>
				<li><a href="index.html">Hyundai</a></li>
				<li><a href="index.html">Infiniti</a></li>
				<li><a href="index.html">Jeep</a></li>
				<li><a href="index.html">Kia</a></li>
				<li><a href="index.html">Lexus</a></li>

				<li><a href="index.html">Mini</a></li>
				<li><a href="index.html">Nissan</a></li>
				<li><a href="index.html">Porsche</a></li>
				<li><a href="index.html">Subaru</a></li>
				<li><a href="index.html">Toyota</a></li>
				<li><a href="index.html">Volkswagon</a></li>

				<li><a href="index.html">Volvo</a></li>
			</ul>
			</div><!--/content-primary -->		

		</div><!-- /content -->

		</div><!-- /page -->
</body>
</html>
