<!DOCTYPE html> 
<html> 

<?php $this->display('lib/header.html');?>

<body> 

	<div data-role="page" class="type-interior">

  	<div data-role="header" data-theme="d" data-position="fixed">
  	  	<a href="?r=logout" data-icon="delete">Logout</a>
  	  	<h1>Search filter bar</h1>
		    <a href="?r=add" data-icon="plus" class="ui-btn-right" data-iconpos="notext" data-transition="slidedown">Add</a>
	  </div><!-- /header -->

	<div data-role="content">
		<div class="content-primary">	
			<ul data-role="listview" data-filter="true">
			  <?php foreach ($data as $val): ?>
			  <li><a href="tel:<?php echo $val['tel']; ?>">
        					<h3><?php echo $val['name']; ?></h3>
        					<p><strong><?php echo $val['tel']; ?></strong></p>
        			</a></li>
        <?php endforeach; ?>
			</ul>
			</div><!--/content-primary -->		

		</div><!-- /content -->

		</div><!-- /page -->
</body>
</html>
